:root {
  --BACKGROUND: #0a1953;
  --WHITE: #ffffff;
  --SUCCESS: #068d32;
  --ERROR: red;
  --PINK: #f1406c;
}

.App {
  background-color: var(--BACKGROUND);

  height: 100vh;
  overflow: hidden;
}
.container {
  max-width: 320px;
  margin: auto;
  position: relative;

  display: flex;
  grid-gap: 8px;
  text-align: center;
  padding: 20px;
  flex-direction: column;
}

.card {
  background-color: var(--WHITE);
  border-radius: 8px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.timer {
  width: 200px;
}

p {
  width: 100%;
  color: var(--WHITE);
}
p.default {
  font-weight: 400;
}
p.medium {
  font-weight: 500;
}
p.bold {
  font-weight: 700;
}

.h1 {
  font-size: 32px;
  line-height: 45px;
}
.h2 {
  font-size: 20px;
  line-height: 28px;
}
.h3 {
  font-size: 18px;
  line-height: 26px;
}
.title {
  font-size: 16px;
  line-height: 24px;
}
.body {
  font-size: 14px;
  line-height: 24px;
}
.small {
  font-size: 12px;
  line-height: 16px;
}
.tiny {
  font-size: 10px;
  line-height: 14px;
}
.default {
  color: var(--WHITE);
}
.error {
  color: var(--ERROR);
}
.success {
  color: var(--SUCCESS);
}

.input {
  display: flex;
  position: absolute;
  align-self: auto;
  top: 450px;
  left: 0px;
  height: 40px;
  width: 100%;
}

.input input {
  border: none;
  flex-grow: 1;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  outline: none;
}

.input button {
  border: none;
  background-color: var(--PINK);
  padding-left: 16px;
  padding-right: 16px;
  color: var(--WHITE);
}
